header {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    align-items: center;
}

 .admin-bar {
    display: flex;
    justify-content: center;
    background-color: #000;
    top: 0;
    width: 100vw;
    position: sticky;
}

.open-modal {
    display: flex;
    align-items: center;
}

#edit-mode-btn{
    color: #fff;
    background-color: #000;
    border: none;
    cursor: pointer;  
}

#header-margin {
    display: flex;
    justify-content: space-between;
    flex-direction: row; 
    margin-top: 80px;
}

#header-margin ul {
    display: flex;
    gap: 10px;
    list-style-type: none;
    font-family: "Work Sans", sans-serif
}

#header-margin a {
    text-decoration: none;
    color: #000;
    scroll-behavior: smooth;
}

#introduction {
    display: flex;
    justify-content: space-between;
}   

#introduction p {
    margin-left: 20%;
    font-family: "Work Sans", sans-serif
}

.projets-section h2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.filtres  {
    display: flex;
    justify-content: center;
}

.filtres button:hover{
    background-color: #1D6154;
    color: #fff;
}

.filtres button{
   
    border: solid 1px;
    border-radius: 10px;
    border-color: #1D6154;
    background-color: #fff;
    color: #1D6154;
    font-weight: bold;
    margin-right: 10px;
    font-size: 16px;
    font-family: "Syne", sans-serif;
}

.filtres a:hover {
    color: #fff;
}

 .projets {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    grid-gap: 50px;
    margin-top: 50px;
}

.open-modal {
    margin-left: 10px;
    border: solid 1px;
    border-radius: 50px;
    border-color: #1D6154;
    background-color: #fff;
    color: #1D6154;
    font-weight: bold;
    margin-right: 10px;
    font-size: 16px;
    font-family: "Syne", sans-serif;
    cursor: pointer;
}

.open-modal:hover {
    color: #fff;
    background-color: #1D6154;
}

#projets-section img {
    max-width: 100%;
    margin-left: 5px;
}

#contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
}

#contact p {
    font-family: "Work Sans", sans-serif;
}

.form {
    font-family: "Work Sans", sans-serif;
}

input {
    border: solid 1px;
    border-radius: 30px;
    color: #1D6154;
}

textarea {
    border: solid 1px;
    border-radius: 30px;
    color: #1D6154;
    resize: none;
}

footer li{
    display: flex;
    justify-content: flex-end;
    margin-top: 5%;
}

 h2 {
    color: #1D6154;
    font-size: 30px;
    font-family: "Syne", sans-serif;
}

#login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hidden {
    display: none;
}
